.wrapper {
    background-color: #f5f5f7;
}

.inner {
    padding: 5.3rem 4.5rem;
    max-width: 1710px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: row;
}

.item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    height: 5rem;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: var(--text-color);
    letter-spacing: 0.3px;
    margin: 0 0 5px;
}

.des {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: #666;
    letter-spacing: 0.3px;
}
