.wrapper {
    display: flex;
    flex-direction: column;
}

.inner {
    background: var(--header-color);
}

.page-width {
    max-width: 1710px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.6rem 1.5rem;
}

.title {
    font-size: 3rem;
    color: var(--header-text-color);
    font-weight: 500;
}

.action-container {
    display: flex;
    flex-direction: row;
}

.login-container,
.favorite-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: 3rem;
    .login-tile,
    .favorite-tile,
    .user-name {
        color: var(--header-text-color);
        display: inline-block;
        font-size: 1.4rem;
        text-align: left;
        letter-spacing: 0.5px;
        line-height: 2.2rem;
    }
}

.login-icon,
.favorite-icon {
    margin-right: 1rem;
}

.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.cart-icon {
    margin-right: 0.5rem;
}

.my-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.cart-count {
    line-height: 2.2rem;
    span {
        display: inline-block;
        line-height: 1.6rem;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        vertical-align: middle;
        margin: 0 3px;
        color: var(--text-color);
        width: 25px;
        height: 15px;
        background: var(--header-text-color);
        border-radius: 25px;
        text-align: center;
    }
}

.total-price {
    text-transform: capitalize;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--header-text-color);
}

.cart-icon {
    width: 3rem;
    height: 3rem;
    color: #6527be;
}

.navbar {
    background: #232f3e;
    float: left;
    padding: 0;
    width: 100%;
    text-align: center;
}

.custom-width {
    width: 1710px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
}

.categories {
    position: relative;
    float: left;
    padding: 0;
    width: 290px;
    cursor: pointer;
    margin: 13px 0;
    &::after {
        content: '';
        height: 25px;
        background: #596069;
        width: 1px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.bars-icon {
    width: 2, 4rem;
    height: 2.4rem;
    position: absolute;
    top: 0px;
    left: 0px;
    color: var(--header-text-color);
}

.cat-title {
    width: 100%;
    float: left;
    display: block;
    text-transform: uppercase;
    span {
        font-weight: 400;
        float: left;
        color: var(--header-text-color);
        padding: 0 0 0 4rem;
        cursor: pointer;
        font-size: 1.5rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        width: 100%;
        text-align: left;
    }
}

.arrow-down-icon {
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    color: var(--header-text-color);
}

// mega menu css
.mega-menu {
    position: absolute;
    width: 290px;
    top: 130px;
    z-index: 100;
}

.cat-list {
    list-style: none;
    background: var(--header-color);
    width: 100%;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    .cat-item {
        .item-link {
            display: inline-block;
            width: 100%;
            padding: 1.1rem 1.5rem;
            line-height: 3rem;
            font-size: 1.3rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            font-weight: 400;
            color: var(--header-text-color);
            text-align: left;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        &:hover {
            .item-link {
                color: var(--header-search-icon-color);
            }
            .arrow-right-icon {
                color: var(--header-search-icon-color);
            }
        }
    }
}

.arrow-right-icon {
    color: var(--header-text-color);
}

.pages-link {
    display: flex;
    align-items: center;
    height: 100%;
    .section {
        display: flex;
        a {
            font-weight: 400;
            color: white;
            padding: 1.6rem 2rem;
            cursor: pointer;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }
}

.user-container {
    display: flex;
    align-items: center;
}

.image {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.8rem;
}

.name {
    font-weight: 500;
    color: white;
    padding-left: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
}

// tippy css
.user-extension {
    width: 18rem;
    position: relative;
}

.arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    box-shadow: rgb(0 0 0 / 12%) 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    top: -8px;
    left: 18px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1.6rem;
    cursor: pointer;
    min-width: 100px;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}

.icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item-title {
    font-size: 1.6rem;
    margin-left: 0.8rem;
}
