.wrapper {
    display: flex;
    flex-direction: column;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    width: 91.666667%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 3rem;
    color: #6527be;
    font-weight: 700;
}

.title-container {
    display: flex;
    align-items: center;
}

.shop-icon {
    width: 3rem;
    height: 3rem;
    color: #6527be;
    margin-left: 0.5rem;
}

.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.cart-icon {
    width: 3rem;
    height: 3rem;
    color: #6527be;
}

.navbar {
    height: var(--default-header-navbar-height);
    background-color: #6527be;
    display: flex;
}

.custom-width {
    width: 91.666667%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories {
    display: flex;
    align-items: center;
    background-color: white;
    height: 5rem;
    width: 27rem;
    border-radius: 0.5rem;
    position: relative;
}

.bars-icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 1rem;
}

.cat-title {
    font-weight: 500;
    color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.arrow-down-icon {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    right: 1rem;
}

.pages-link {
    display: flex;
    align-items: center;
    .section {
        display: flex;
        a {
            font-weight: 500;
            color: white;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            cursor: pointer;
            font-size: 1.6rem;
        }
    }
}

.user-container {
    display: flex;
    align-items: center;
}

.image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-weight: 500;
    color: white;
    padding-left: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-width: 10rem;
    height: 4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    .login {
        a {
            font-weight: 500;
            color: #6527be;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: 1.6rem;
        }
    }
    &:hover {
        opacity: 0.9;
    }
}

// tippy css
.user-extension {
    width: 18rem;
    position: relative;
}

.arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    box-shadow: rgb(0 0 0 / 12%) 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    top: -8px;
    left: 18px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1.6rem;
    cursor: pointer;
    min-width: 100px;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}

.icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item-title {
    font-size: 1.6rem;
    margin-left: 0.8rem;
}
