.wrapper {
    background-color: #f5f5f7;
    padding-top: 7rem;
}

.inner {
    padding: 0 1.5rem;
    max-width: 1710px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.large-title {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 3.55rem;
    color: var(--text-color);
    position: relative;
    margin-bottom: 2rem;
}

.large-hidden {
    overflow: hidden;
}

.list-container {
    transition: all 0.25s ease 0s;
    display: flex;
    flex-direction: row;
}

.data {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 560px;
}

.item {
    margin: 1rem 0;
}

.popper {
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
}

.image-container {
    position: relative;
    width: 50%;
}

.image {
    width: 27rem;
    height: 27rem;
    border-radius: 8px;
}

.children-image {
    padding: 0 1.5rem 2rem;
}

.hidden {
    overflow: hidden;
    position: relative;
    display: block;
    width: 24rem;
}

.slider {
    transition: all 0.25s ease 0s;
    display: flex;
    flex-direction: row;
    width: 600px;
}

.child-container {
    padding: 0 1rem;
}

.child {
    width: 9.5rem;
    border-radius: 0.5rem;
    border: 1px solid #eaeaea;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.item {
    &:hover {
        .children-button-container {
            display: block;
        }
    }
}

.children-button-container {
    display: none;
}

.prev-child-btn {
    background: transparent;
    position: absolute;
    bottom: 6rem;
    left: 4px;
    cursor: pointer;
    &:hover {
        .prev-child-icon {
            color: var(--text-color);
        }
    }
}

.next-child-btn {
    background: transparent;
    position: absolute;
    bottom: 6rem;
    right: 4px;
    cursor: pointer;
    &:hover {
        .next-child-icon {
            color: var(--text-color);
        }
    }
}

.prev-child-icon,
.next-child-icon {
    width: 1.8rem;
    height: 1.8rem;
    color: #777777;
}

.content {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    min-height: 205px;
    padding: 3rem 2rem 1rem 1rem;
}

.name {
    display: inline-block;
    color: #bf4800;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
    width: 100%;
}

.title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    position: relative;
    a {
        display: -webkit-box;
        width: 20rem;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 1.4rem;
        // white-space: nowrap;
        // word-break: break-word;
    }
}

.rating {
    margin-bottom: 1.2rem;
}

.price {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.7rem;
    letter-spacing: 0.3px;
    line-height: 2rem;
    display: flex;
    margin-bottom: 1.2rem;
    .normal-price {
        text-decoration: line-through;
    }
    .sale-price {
        color: red;
    }
}

.time {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.add-btn {
    background-color: var(--primary-color);
    cursor: pointer;
    padding: 1rem 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 99999px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--header-text-color);
    text-align: center;
    text-transform: uppercase;
    &:hover {
        background-color: #febd69;
        color: var(--text-color);
    }
}

.sale-off-label {
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    background-color: #febd69;
    border-radius: 99999px;
    padding: 0.5rem 0.8rem;
}

.label {
    font-size: 1.3rem;
}

.like-btn {
    position: absolute;
    right: 50%;
    top: 1.2rem;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        background-color: #febd69;
    }
}

.like-icon {
    width: 1.6rem;
    height: 1.6rem;
}

.button-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.prev-btn,
.next-btn {
    background: transparent;
    cursor: pointer;
    &:hover {
        .prev-icon,
        .next-icon {
            color: var(--text-color);
        }
    }
}

.prev-icon,
.next-icon {
    width: 1.8rem;
    height: 1.8rem;
    color: #777777;
}

.next-icon {
    margin-left: 1rem;
}
