.wrapper {
    background-color: #f5f5f7;
    padding-top: 7rem;
}

.inner {
    max-width: 1710px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.large-title {
    padding: 0 1.5rem;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 3.5rem;
    color: var(--text-color);
    position: relative;
    letter-spacing: 0;
    margin-bottom: 2rem;
}

.list-container {
    transition: all 0.25s ease 0s;
    // width: calc(1710px / 6 * 7);
    display: flex;
    flex-direction: row;
}

.item {
    width: 16.66666666667%;
    padding: 0 1rem;
    transition: all 0s ease 0s;
}

.popper {
    padding: 0;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    position: relative;
    margin-bottom: 1rem;
}

.image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 5px 20px 10px;
    min-height: 156px;
    overflow: hidden;
    width: 100%;
}

.name {
    color: #bf4800;
    font-size: 1.3rem;
    line-height: 2.4rem;
    font-weight: 400;
    margin: 0 0 12px;
    opacity: 1;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.2rem;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    position: relative;
    margin: 0 0 14px;
    a {
        width: 180px;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }
}

.rating {
    margin-bottom: 1.5rem;
}

.price {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.3px;
    line-height: 2rem;
}

.like-button {
    position: absolute;
    right: 8px;
    top: 15px;
    background: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 0px 3px 0;
    z-index: 1;
    display: block;
    border-radius: 25px;
    transition: all 500ms ease;
    cursor: pointer;
}

.like-icon {
    width: 2rem;
    height: 2rem;
}

.button-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.prev-btn,
.next-btn {
    background: transparent;
    cursor: pointer;
    &:hover {
        .prev-icon,
        .next-icon {
            color: var(--text-color);
        }
    }
}

.prev-icon,
.next-icon {
    width: 1.8rem;
    height: 1.8rem;
    color: #777777;
}

.next-icon {
    margin-left: 1rem;
}
